.container-form {
    margin: 20px auto ;
    background-color: var(--secondary-color);
    border-radius: 10px ;
}

form {
    width: 80% ;
    margin: 0 auto ;
    display: flex ;
    flex-direction: column ;
    justify-content: space-between ;
    color: var(--primary-color);

}

.about {
    text-align: center ;
    margin: 15px auto ;
}

.edit {
    width: 100% ;
    margin: 0 auto ;
    display: flex ;
    flex-direction: row ;
    justify-content: space-between ;
}

.profile {
    display: flex ;
    flex-direction: column ;
    padding: 5px ;
    text-align: center ;
    margin: 10px 0 ;
}


.profile h4 {
    margin: 10px 0 ;
    margin-bottom: 5px ;
    font-size: 20px ;
}

.profile-pict {
    margin: 10px 0;
    display: flex ;
    position: relative ;
    width: 50px ;
    height: 50px ;
    left: 0 ;
}

.profile-pict img {
    width: 300px ;
    height: 300px ;
    object-fit: cover ;
    position: absolute ;
    border-radius: 50% ;
    z-index: 1 ;
}

.profile-pict input {
    width: 300px ;
    position: absolute ;
    z-index: 20;
    height: 300px ;
    opacity: 0 ;
    cursor: pointer ;
}

.other {
    width: 60% ;
    display: flex ;
    flex-direction: column ;
    margin: 10px 0 ;
    align-items: center;

}

.other label {
    color: var(--primary-color);
    width: 80% ;
    display: block ;
    text-align: left ;
}

.other input ,.other textarea {
    margin: 10px 0 ;
    width: 80% ;
    padding: 4px 6px ;
    outline: none ;
    resize: none ;
    border: none ;

}

.other button {
    width: 50% ;
    padding: 5px 3px ;
    margin: 15px 0;
    background-color: var(--primary-color);
    color: var(--primary-text);
    border: none ;
    border-radius: 4px ;
    cursor: pointer;
}


@media only screen and (max-width: 660px ){
    .edit {
        flex-direction: column ;
        margin: auto;
    }

    .profile-pict {
        width: 200px ;
        margin: 10px auto ;
        height: 200px ;
    }

    .profile-pict img {
        width: 200px ;
        height: 200px ;
    }

    .profile-pict input {
        height: 200px ;
    }

    .other {
        width: 100% ;
        margin: auto;
    }
}