<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Profile</title>
    <!-- FAVICON -->
    <link rel="icon" href= <%- websiteData.pavIcon %> type="image/gif" sizes="16x16">
    <!-- STYLESHEET -->
    <link rel="stylesheet" href="/asset/css/global.css">
    <link rel="stylesheet" href="/asset/css/nav.css">
    <link rel="stylesheet" href="/asset/css/editprofile.css">
    <!-- font -->
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
</head>
<body>
    <!-- NAVBAR -->
    <nav>
        <div class="container">
            <div class="nav-logo">Dashboard Web</div>
            <a href="/users/setting">Kembali</a>
        </div>
    </nav>
    <!-- NAVBAR -->
    <div class="container container-form">
       <form action="/users/setting/password" method="POST">
            <div class="about">
                <h1>Edit Password</h1>
            </div>
            <div class="edit">
            <div class="other">
                <label for="password1">old password</label>
                <input type="password" id="password1" name="oldPassword" placeholder="old password" required minlength="6">
                <label for="password2">new password</label>
                <input type="password" id="password2" name="newPassword" placeholder="new password" required minlength="6">
                <label for="oldpassword">confirm new password</label>
                <input type="password" id="oldpassword" name="confirmNewPassword" placeholder="confirm new password" required minlength="6">
                <label style="color: rgb(6, 187, 0);"><%= messageSuccess != null? messageSuccess: '' %></label>
                <label style="color: red;"><%= message != null? message: '' %></label>
                <button>change</button>
             </div>
           </div>
       </form>
    </div>
    <script src="/js/editprofile.js"></script>
</body>
</html>