<nav>
    <nav>
        <div class="container">
            <div class="nav-logo">
                Edit Profile
            </div>
            <div class="">
                <a href="/">Home</a>
                <a href="#">Dashboard</a>
            </div>
        </div>
    </nav>
</nav>